article {
  background-color: #bf9ee5;
  padding: 1rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

time {
  font-size: 0.7rem;
  color: #666;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #433352;
}

p {
  font-size: 1rem;
  color: #333;
}

.actions {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #380774;
  color: #decdf2;
  border-radius: 4px;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  align-self: end;
  margin: 0;
}

.actions:hover,
.actions:active {
  background-color: #4a0774;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}